<html>
	<head>
		<title>Welcome to Sea Palace Hotel</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Sea Palace Hotel</a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
            <li><a href="home">Home</a></li>
			<li><a href="accomodation">Accomodation</a></li>
			<li><a href="reserve">Reservations</a></li>
			<li><a href="about">About Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br/><br/><br/>
    <div>
		<img src="hotel2.jpg">
	</div>
    </div>
	</body>
</html>